
/* Hoja de estilos del theme CodigoCiudadano */

/* -------------- Elementos generales ------------- */
#page #masthead .dynamic-menu {
  float: right;
}

#logo {
  margin-bottom: 15px;
}

#main-content #primary {
  padding-top: 0;
}
#navigation #main-menu {
  margin: 23px 0px 15px;
}

/* -------------------- Homepage -------------------- */
.middle-nodequeue-horiz {
  margin-top: 1.5em;
  clear: both;
}

.itemqueue-heading a {
  color: #777;
  text-align: center;
}

.itemqueue-heading a:hover {
  color: #ed564b;
}

.itemqueue-heading {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.8em;  
  font-weight: normal;
  letter-spacing: 0.8px;
}

.itemqueue-text {
  font-weight: 700;
  font-style: normal;  
  text-transform: uppercase;
  font-size: 19px;  
  line-height: 23px;  
}