
/* Hoja de estilos del theme CodigoCiudadano */

/* -------------- Elementos generales ------------- */
#page #masthead .dynamic-menu {
  float: right;
}

#logo {
  margin-bottom: 15px;
}

#main-content #primary {
  padding-top: 0;
}
#navigation #main-menu {
  margin: 23px 0px 15px;
}

#main-menu .links li a {
  background-color: #FFF;
}

/* -------------------- Footer -------------------- */
footer .row .fcred {
  padding: 10px 15px;
}

footer #block-cc-cms-cc-cms-social-profiles {
float: right;
}

footer #block-cc-cms-cc-cms-social-profiles .navbar-nav>li>a {
  padding: 9px;
  color: #fff;
}
footer #block-cc-cms-cc-cms-social-profiles .navbar-nav>li>a:hover {
  color: #bbb;
}

/* -------------------- User login page -------------------- */
#user-login .form-item-name label,
#user-login .form-item-pass label,
#user-register-form .form-item-name label,
#user-register-form .form-item-mail label,
#user-pass .form-item-name label {
  display: block;
}

#user-login .item-list ul.github-links {
  padding: 0;
  list-style: none;
}

#user-login #edit-github {
  max-width: 500px;
}
#user-login #edit-github legend {
  top: 0;
  left: 0;
}
#user-login #edit-github .fieldset-wrapper {
  margin-top: 33px;
}

#user-login .github-link a {
  
}


/* -------------------- Homepage -------------------- */
.middle-nodequeue-horiz {
  margin-top: 1.5em;
  clear: both;
}

.itemqueue-heading .fa,
.itemqueue-heading a {
  color: #777;
  text-align: center;
}
.itemqueue-heading .fa {
  width: 100%
}

.itemqueue-heading a:hover {
  color: #ed564b;
}

.itemqueue-heading {
  text-transform: uppercase;
  line-height: 1.8em;  
  font-size: 19px;  
  font-weight: 700;
  letter-spacing: 0.8px;
}

.itemqueue-text {
  font-weight: normal;
  font-style: normal;  
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 23px;  
}

.middle-nodequeue-horiz .row.org-purpose-block {
  margin: 0 auto;
  max-width: 1170px;
}