
/* Hoja de estilos del theme CodigoCiudadano */

/* -------------- Elementos generales ------------- */
#page #masthead .dynamic-menu {
  float: right;
}

#logo {
  margin-bottom: 15px;
}

#main-content #primary {
  padding-top: 0;
}
#navigation #main-menu {
  margin: 23px 0px 15px;
}

/* -------------------- Footer -------------------- */
footer .row .fcred {
  padding: 10px 15px;
}

/* -------------------- User login page -------------------- */
#user-login .form-item-name label,
#user-login .form-item-pass label,
#user-register-form .form-item-name label,
#user-register-form .form-item-mail label,
#user-pass .form-item-name label {
  display: block;
}

/* -------------------- Homepage -------------------- */
.middle-nodequeue-horiz {
  margin-top: 1.5em;
  clear: both;
}

.itemqueue-heading .mega-octicon,
.itemqueue-heading a {
  color: #777;
  text-align: center;
}
.itemqueue-heading .mega-octicon {
  width: 100%
}

.itemqueue-heading a:hover {
  color: #ed564b;
}

.itemqueue-heading {
  text-transform: uppercase;
  line-height: 1.8em;  
  font-size: 19px;  
  font-weight: 700;
  letter-spacing: 0.8px;
}

.itemqueue-text {
  font-weight: normal;
  font-style: normal;  
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 23px;  
}